# Ignore Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
env/
venv/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Ignore dataset and video (optional: if they're too large or private)
dataset/
video/

# Ignore model files (optional)
*.pkl
